[submodule "OSINT-compass-engine"]
	path = OSINT-compass-engine
	url = https://github.com/elpato-dev/OSINT-compass-engine.git
	branch = main
[submodule "OSINT-compass-portal"]
	path = OSINT-compass-portal
	url = https://github.com/elpato-dev/OSINT-compass-portal.git
	branch = main
[submodule "OSINT-compass-alert-cron"]
	path = OSINT-compass-alert-cron
	url = https://github.com/elpato-dev/OSINT-compass-alert-cron.git
	branch = main
[submodule "OSINT-compass-API-cron"]
	branch = main
